<div class="row">
  <div class="col-xs-4">
    <alert ng-show="error" type="danger" close="dismiss()">{{error}}</alert>
    <form ng-submit="register()" name="registration" novalidate>
      <div class="form-group" ng-class="{'has-error': usernameInvalid() || registration.username.$error.unique}">
        <label>Desired username</label>
        <input ng-model="account.username" name="username" class="form-control" required unique ng-maxlength="20" placeholder="Username" ng-model-options="{ debounce: 500 }" />
        <div class="help-block" ng-show="usernameInvalid()">A username is required!</div>
        <div class="help-block" ng-show="registration.username.$error.unique">That username is already in use!</div>
        <div class="help-block" ng-hide="registration.username.$error.required || registration.username.$pending.unique || registration.username.$error.unique">That username is available!</div>
      </div>
      <div class="form-group" ng-class="{'has-error': passwordsInvalid()}">
        <label>Password (twice)</label>
        <input type="password" ng-model="account.password" name="password" class="form-control" required placeholder="Password" />
        <br />
        <input type="password" ng-model="account.again" name="confirm" class="form-control" required placeholder="Password again" />
        <span ng-if="passwordsTouched()">
          <div class="help-block" ng-show="passwordsMissing()">A password is required!</div>
          <div class="help-block" ng-show="passwordsMismatched()">Passwords must match!</div>
        </span>
      </div>
      <input type="submit" value="Register" class="btn btn-primary" />
    </form>
  </div>
</div>
